:root{
    --my-font: Arial, Helvetica, sans-serif;
    --my-color: rgba(135, 142, 148, 0.692);
    --my-links-color: rgb(68,122,245);
}
body{
    font-family: var(--my-font);  
}
.grid{
    width: 100%;
    display: flex;
    /*grid-template-columns: 33.3% 33.3% 33.3%;*/
    justify-items: center;
    align-items: center;
}
.article{
    padding: 0%;
    margin: 2% 2%;
    max-width: 300px;
    min-width: 300px;
    border-radius: 10%;
    overflow: hidden;
    background-color: rgba(117, 116, 116, 0.205);
    box-shadow: 1px 1px 1px 1px rgb(173, 167, 167);
}
.head{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    box-shadow: 1px 1px 1px 1px rgb(129, 126, 126);
}
.head-item-1{
    width: 100%;
    height: 60px;
    grid-column: 1;
    background-color: rgb(147, 147, 148);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border-radius: 50% 50%;
    box-shadow: 1px 1px 1px 1px rgb(155, 148, 148);
}
.head-item-2{
    width: 100%;
    height: 100%;
    grid-column: 2;
    background-color: rgb(147, 147, 148);
}
.head-item-3{
    width: 100%;
    height: 100%;
    grid-column: 3;
    background-color: rgb(147, 147, 148);
}

.figure{
    width: fit-content;
}
.image{
    width: 100%;
}
.title{
    padding: 2% 4% 0 4%;
    margin: 0;
    border-top: var(--my-border);
}
.content{
    padding: 0% 4% 2% 4%;
}

@media (max-width: 768px) {
    .grid{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .article{
        max-width: 300px;
        min-width: 300px;
    }
  }

@media (max-width: 375px) {
    .grid{
        display: flex;
        flex-direction: column;
        }
        .article{
            width: 300px;
        }
}